{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}


<div class="card-block" style="height: auto !important;">

    <!--Header-->
    <div class="form-header blue-gradient">
        <h4>Profile</h4>
    </div>

    {################# block 1 #############################}
    <div class="row mb-1">
        <div class="col-md-6">
            <div class="md-form">
                {{ form_widget(form.nom, { 'attr' : { 'class' : 'form-control', id:'nom'} }) }}
                {{ form_label(form.nom, 'Nom', {'label_attr': {'for': 'nom'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="md-form">
                {{ form_widget(form.prenom, { 'attr' : { 'class' : 'form-control', id:'prenom'} }) }}
                {{ form_label(form.prenom, 'Prenom', {'label_attr': {'for': 'prenom'}}) }}
            </div>
        </div>
    </div>

    {########## block 2 ###################################}
    <div class="row mb-1">
        <div class="col-md-12">
            <div class="md-form">
                {{ form_widget(form.email, { 'attr' : { 'class' : 'form-control', id:'email'} }) }}
                {{ form_label(form.email, 'Adresse mail', {'label_attr': {'for': 'email'}}) }}
                <span class="text-bold text-sm form-state"></span>
            </div>
        </div>
    </div>

    {############ block 3 ###############################}
    <div class="row mb-1">

        <div class="col-md-6">
            <div class="md-form">
                {{ form_widget(form.username, { 'attr' : { 'class' : 'form-control', id:'username'} }) }}
                {{ form_label(form.username, 'Nom d\'utilisateur', {'label_attr': {'for': 'username'}}) }}
            </div>
        </div>

        <div class="col-md-6 sexe">
            <div class="col-12">
                {{ form_label(form.sexe, 'Sexe', {'label_attr': {'class':' '}}) }}<br>

                {{ form_widget(form.sexe, { 'attr' : { 'class' : 'custom-select col-12', id:'sexe'} }) }}
            </div>
        </div>
    </div>

    {############ block 4 ###############################}
    <div class="row mb-1">
        <div class="col-md-12">
            <div class="md-form">
                {{ form_widget(form.numCNI, { 'attr' : { 'class' : 'form-control', id:'numCNI'} }) }}
                {{ form_label(form.numCNI, 'Numero de la CNI', {'label_attr': {'for': 'numCNI'}}) }}
            </div>
        </div>
    </div>

    {############ block5 ###############################}
    <div class="row mb-1">
        <div class="col-md-6">
            <div class="md-form">
                {{ form_widget(form.numContratAsr, { 'attr' : { 'class' : 'form-control', id:'numContratAsr'} }) }}
                {{ form_label(form.numContratAsr, 'Numero contrat d\'assurance', {'label_attr': {'for': 'numContratAsr'}}) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="md-form">
                {{ form_widget(form.tel, { 'attr' : { 'class' : 'form-control', id:'numTel'} }) }}
                {{ form_label(form.tel, 'Numero de telephone', {'label_attr': {'for': 'numTel'}}) }}
            </div>
        </div>
    </div>

    {############ block 8 ###############################}
    <div class="row mb-1">

        <div class="col-md-12">
            <div class="md-form">
                {{ form_widget(form.dateNaiss, { 'attr' : {'class':'form-control js-datepicker', id:'dateNaiss'} }) }}
                {{ form_label(form.dateNaiss, 'Date de naissance', {'label_attr': {'for': 'dateNaiss'}}) }}
            </div>
        </div>
    </div>

    {############ block 9 ###############################}
    <div class="row mb-1">

        <div class="col-md-12">
            <div class="md-form">
                {{ form_widget(form.current_password, { 'attr' : { 'class' : 'form-control', id:'mdp'} }) }}
                {{ form_label(form.current_password, 'Mot de passe actuel', {'label_attr': {'for': 'mdp'}}) }}
            </div>
        </div>
    </div>

    <!--Body-->

    <div class="text-center">
        <button class="btn btn-indigo waves-effect waves-light">Modifier <i class="fa fa-pencil white-text"></i>
        </button>
    </div>

</div>

{#
<div>
    <input type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
</div>#}
{{ form_end(form) }}

