<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" class="full-height">
<head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <title>{% block title %}SchoolManager{% endblock %}</title>

    {% stylesheets filter='cssrewrite'
    'bundles/appbundle/css/*'
    %}

    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />

    {% endstylesheets %}


    {% block style %} {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>

<body>


{% javascripts  'bundles/appbundle/js/jquery-3.1.1.js'
'bundles/appbundle/js/tether.js'
'bundles/appbundle/js/bootstrap.js'
'bundles/appbundle/js/mdb.min.js'
'bundles/appbundle/js/myMDB.js'
'bundles/appbundle/js/index.js'
%}
<script src="{{ asset_url }}"> </script>
{% endjavascripts %}

{% block header %}{% endblock %}

{% block body %}{% endblock %}

{% block footer %}{% endblock %}




{% block javascript %}

    <script>
        // Animations init
        new WOW().init();
    </script>
{% endblock %}

</body>
</html>
