{% extends "@FOSUser/layout.html.twig" %}


{% block style %}


{% endblock %}


{% block fos_user_content %}

    <!--Mask-->
    <div class="view hm-black-strong" id="register">
        <div class="full-bg-img pt-6">

            <div class="col-5 offset-4">
                {% include "@FOSUser/Registration/register_content.html.twig" %}
            </div>

            <div class="col-3"></div>

        </div>
    </div>
    <!--/.Mask-->

{% endblock fos_user_content %}

