{% trans_default_domain 'FOSUserBundle' %}


{% trans_default_domain 'FOSUserBundle' %}



 {{ form_start(form, {'attr':{'class':'animated fadeInLeft'}}) }}

    <!--Form with header-->
    <div class="card">
        <div class="card-block">

            <!--Header-->
            <div class="text-center">
                <h3><a href="#" class="black-text">Inscription</a></h3>
                <hr class="mt-2 mb-2">
            </div>

            <div class="md-form">
                {{ form_widget(form.nom, { 'attr' : { 'class' : 'form-control', id:'nom'} }) }}
                {{ form_label(form.nom, 'Nom', {'label_attr': {'for': 'nom'}}) }}
            </div>

            <div class="md-form">
                {{ form_widget(form.prenom, { 'attr' : { 'class' : 'form-control', id:'prenom'} }) }}
                {{ form_label(form.prenom, 'Prenom', {'label_attr': {'for': 'prenom'}}) }}
            </div>

            <div class="md-form">
                {{ form_widget(form.numTel, { 'attr' : { 'class' : 'form-control', id:'numTel'} }) }}
                {{ form_label(form.numTel, 'Numero de telephone', {'label_attr': {'for': 'numTel'}}) }}
            </div>

            <div class="md-form">
                {{ form_widget(form.email, { 'attr' : { 'class' : 'form-control ', id:'email'} }) }}
                {{ form_label(form.email, 'Adresse e-mail', {'label_attr': {'for': 'email'}}) }}
            </div>

            <div class="md-form">
                {{ form_widget(form.username, { 'attr' : { 'class' : 'form-control', id:'username'} }) }}
                {{ form_label(form.username, 'Nom d\'utilisateur', {'label_attr': {'for': 'username'}}) }}
            </div>

            <div class="md-form">
                {{ form_widget(form.plainPassword.first, { 'attr' : { 'class' : 'form-control', id:'mdp1'} }) }}
                {{ form_label(form.plainPassword.first, 'Mot de passe', {'label_attr': {'for': 'mdp1'}}) }}
            </div>

            <div class="md-form">
                {{ form_widget(form.plainPassword.second, { 'attr' : { 'class' : 'form-control', id:'mdp2'} }) }}
                {{ form_label(form.plainPassword.second, 'Confirmer le mot de passe', {'label_attr': {'for': 'mdp2'}}) }}
            </div>

            <div class="text-center">
                <button class="btn btn-deep-purple">S'inscrire</button>
            </div>

        </div>

    </div>
    <!--/Form with header-->

{{ form_end(form) }}
