{% trans_default_domain 'FOSUserBundle' %}



<form id="formLogin" action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}

    <!--Form with header-->
    <div class="card">
        <div class="card-block">

            <!--Header-->
            <div class="text-center">
                <h3><a href="#" class="black-text">Connexion</a></h3>
                <hr class="mt-2 mb-2">
            </div>

            <!--Body-->
            <div class="md-form">
                <i class="fa fa-user prefix"></i>
                <input type="text" id="username" class="form-control validate" name="_username"
                       value="{{ last_username }}" required="required"/>
                <label for="username"
                       data-error="Entrez une valeur valide">{{ 'security.login.username'|trans }}</label>
            </div>

            <div class="md-form">
                <i class="fa fa-lock prefix"></i>
                <input type="password" id="password" class="form-control" name="_password" required="required"/>
                <label for="password">{{ 'security.login.password'|trans }}</label>
            </div>

            <div class="text-center">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                <a href="#" class="black-text"><label for="remember_me">{{ 'security.login.remember_me'|trans }}</label></a>
            </div>

            <div class="text-center">
                <button class="btn btn-deep-purple">valider</button>
            </div>

        </div>

        <!--Footer-->
        <div class="modal-footer">
            <div>
                <a href="#" class="black-text">Pas encore membre?</a> <a
                        href="{{ path('fos_user_registration_register') }}">Inscription</a>
                <p>Forgot <a href="#">Password?</a></p>
            </div>
        </div>

    </div>
    <!--/Form with header-->

</form>

