{% extends "@FOSUser/layout.html.twig" %}


{% block style %}
    {% stylesheets filter='cssrewrite' 'bundles/appbundle/css/home.css' %}

    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>

    {% endstylesheets %}

    <style>
        .description {
            padding-top: 25%;
            padding-bottom: 3rem;
            color: #fff
        }

    </style>
{% endblock %}

{% block fos_user_content %}

    <!--Mask-->
    <div class="view hm-black-strong" id="login">
        <div class="full-bg-img flex-center">
            <div class="container">
                <div class="row mt-4" id="home">

                    <!--First column-->
                    <div class="col-lg-6">
                        <div class="description animated fadeInLeft"
                             style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                            <h2 class="h2-responsive">Authentification </h2>
                            <hr class="hr-dark">
                            <p class="">Veuillez vous connecter afin d'acceder a votre compte
                                et consulter vos trajets et reservations</p>
                            <br>
                        </div>

                        {% if error %}
                            <div class="alert animated fadeInUp alert-with-icon alert-danger alert-dismissible fade show"
                                 role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <i class="fa fa-shield"></i>
                                <span data-notify="message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <!--/.First column-->

                    <!--Second column-->
                    <div class="col-lg-6 animated fadeInRight">

                        <!--Form-->
                        <div class="mt-5">
                            {{ include('@FOSUser/Security/login_content.html.twig') }}
                        </div>
                        <!--/.Form-->

                    </div>
                    <!--/Second column-->
                </div>
                <div class="footer mt-2">
                    <div class="container text-center">
                        <a href="#" class="white-text"> © Copyright 2017 Kargo.com | <sub>All right reserved</sub></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/.Mask-->

{% endblock fos_user_content %}
