{% extends '::base.html.twig' %}

{% block body %}

    {# On affiche les messages flash que définissent les contrôleurs du bundle #}
    {% for key, messages in app.session.flashbag.all() %}
        {% for message in messages %}
            <div class="alert alert-{{ key }} alert-dismissable">
                <a href="#" class="close " data-dismiss="alert" aria-label="close">&times;</a>
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}



        {% block fos_user_content %}
        {% endblock fos_user_content %}


{% endblock %}